extends layouts/main-layout.pug

block content 

    .loadingSpinnerContainer 
        img(src="/images/loadingSpinner.gif", alt="loading spinner")
    .resultsContainer(style="display: none")

block headerButton
    a(href="/messages/new")
        i.fas.fa-comment-medical

block scripts
    script(src="/js/inboxPage.js") 