:root {
	--buttonHoverBg: #d4edff;
	--blue: #1fa2f1;
	--lightGrey: #e6ecf0;
	--spacing: 15px;
	--blueLight: #9bd1f9;
	--greyText: #657786;
	--greyButtonText: #00000057;
	--red: #e2225e;
	--redBackground: #e2225e1a;
	--green: #17bf63;
	--greenBackground: #17bf631a;
}

* {
	outline: none !important;
}

body {
	color: #333;
}

a,
a:hover {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 19px;
	font-weight: 800;
	margin: 0;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;
	position: fixed;
}

nav a {
	display: flex;
	padding: 10px;
	font-size: 20px;
	width: 55px;
	height: 55px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: 250ms ease;
}

nav a.blue {
	color: var(--blue);
	font-size: 30px;
}

nav a:hover {
	background-color: var(--buttonHoverBg);
	color: var(--blue);
	border-radius: 50%;
}

button {
	background-color: transparent;
	border: none;
	color: var(--greyButtonText);
}

button i,
button span {
	pointer-events: none;
}

.mainSectionContainer {
	padding: 0;
	border-left: 1px solid var(--lightGrey);
	border-right: 1px solid var(--lightGrey);
	display: flex;
	flex-direction: column;
	box-shadow: inset 10px 0px 20px -12px var(--lightGrey),
		inset -10px 0px 20px -12px var(--lightGrey);
}

.titleContainer {
	height: 53px;
	padding: 0 var(--spacing);
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--lightGrey);
	flex-shrink: 0;
}

.titleContainer h1 {
	flex: 1;
}

.postFormContainer {
	display: flex;
	padding: var(--spacing);
	border-bottom: 1px solid var(--lightGrey);
	box-shadow: 0 10px 20px -8px var(--lightGrey);
	flex-shrink: 0;
}

.modal .postFormContainer {
	box-shadow: none;
	border: none;
	padding: 0;
	padding-top: var(--spacing);
}

.modal .post {
	padding: 0;
	padding-bottom: var(--spacing);
	box-shadow: 0 10px 20px -15px var(--lightGrey);
}

.userImageContainer {
	width: 50px;
	height: 50px;
	box-shadow: 0 5px 5px var(--lightGrey);
	border-radius: 50%;
}

.userImageContainer img {
	width: 100%;
	border-radius: 50%;
	background-color: #fff;
}

.textareaContainer {
	flex: 1;
	padding-left: var(--spacing);
}

.textareaContainer textarea {
	width: 100%;
	border: none;
	resize: none;
}

#submitPostButton {
	background-color: var(--blue);
	color: #fff;
	border: none;
	border-radius: 40px;
	padding: 7px var(--spacing);
}

#submitPostButton:disabled {
	background-color: var(--blueLight);
}

.post {
	display: flex;
	flex-direction: column;
	padding: var(--spacing);
	cursor: pointer;
	border-bottom: 1px solid var(--lightGrey);
	flex-shrink: 0;
	transition: 250ms ease;
}

.post:hover {
	background-color: #f1f4f8;
}

.mainContentContainer {
	flex: 1;
	display: flex;
}

.postContentContainer {
	padding-left: var(--spacing);
	display: flex;
	flex-direction: column;
	flex: 1;
}

.username,
.date {
	color: var(--greyText);
}

.displayName {
	font-weight: bold;
}

.postFooter {
	display: flex;
	align-items: center;
	padding: 10px 0 0;
}

.postFooter .postButtonContainer {
	flex: 1;
	display: flex;
}

.postButtonContainer button {
	width: 45px;
	height: 45px;
	transition: 250ms ease;
}

.postButtonContainer button:hover {
	background-color: #d4edff;
	color: var(--blue);
	border-radius: 50%;
}

.header a:hover {
	text-decoration: underline;
}

.header a,
.header span {
	padding-right: 5px;
}

.postButtonContainer.red button.active {
	color: var(--red);
}

.postButtonContainer.red button:hover {
	color: var(--red);
	background-color: var(--redBackground);
}

.postButtonContainer.green button.active {
	color: var(--green);
}

.postButtonContainer.green button:hover {
	color: var(--green);
	background-color: var(--greenBackground);
}

.postActionContainer {
	padding-left: 35px;
	font-size: 13px;
	color: var(--greyText);
	margin-bottom: 5px;
}

.replyFlag {
	margin-bottom: 5px;
}

.replyFlag a {
	color: var(--blue);
}

.post.largeFont .postBody,
.post.largeFont .postFooter {
	font-size: 23px;
}
